################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/TicimaxWebServicesSample/v15/Server/sqlite3
/TicimaxWebServicesSample/bin/Debug
/TicimaxWebServicesSample/obj/Debug
