<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="TicimaxWebServicesSample.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
		</sectionGroup>
	</configSections>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
	</startup>
	<userSettings>
		<TicimaxWebServicesSample.Properties.Settings>
			<setting name="AlanAdi" serializeAs="String">
				<value/>
			</setting>
			<setting name="YetkiKodu" serializeAs="String">
				<value/>
			</setting>
		</TicimaxWebServicesSample.Properties.Settings>
	</userSettings>
	<system.serviceModel>
		<bindings>
   <basicHttpBinding>
    <binding name="BasicHttpBinding_ISiparisServis" sendTimeout="04:50:00"
     maxReceivedMessageSize="640000000">
     <security mode="Transport" />
    </binding>
    <binding name="BasicHttpBinding_IUyeServis" sendTimeout="04:50:00"
     maxReceivedMessageSize="640000000">
     <security mode="Transport" />
    </binding>
    <binding name="BasicHttpBinding_ICustomServis" sendTimeout="04:50:00"
     maxReceivedMessageSize="640000000">
     <security mode="Transport" />
    </binding>
    <binding name="BasicHttpBinding_IUrunServis" sendTimeout="04:50:00"
     maxReceivedMessageSize="640000000">
     <security mode="Transport" />
    </binding>
   </basicHttpBinding>
  </bindings>
		<client>
   <endpoint address="https://cagla.tcmx.dev/servis/CustomServis.svc"
    binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ICustomServis"
    contract="CustomServis.ICustomServis" name="BasicHttpBinding_ICustomServis" />
   <endpoint address="https://cagla.tcmx.dev/servis/UyeServis.svc"
    binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IUyeServis"
    contract="UyeServis.IUyeServis" name="BasicHttpBinding_IUyeServis" />
   <endpoint address="https://cagla.tcmx.dev/servis/UrunServis.svc"
    binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IUrunServis"
    contract="UrunServis.IUrunServis" name="BasicHttpBinding_IUrunServis" />
   <endpoint address="https://cagla.tcmx.dev/servis/SiparisServis.svc"
    binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ISiparisServis"
    contract="SiparisServis.ISiparisServis" name="BasicHttpBinding_ISiparisServis" />
  </client>
	</system.serviceModel>
</configuration>
